// Imports
@import './_variables.scss';
@import './iconButton.scss';

.sx-button {
  @include shadow-0;
  @include font-size-regular;
  height: $height-button_default;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  cursor: pointer;
  user-select: none;
  border: $width-button-border $color-button_primary-border-default solid;
  border-radius: $radius-button;
  padding-left: $spacing-button_default-paddingLeft;
  padding-right: $spacing-button_default-paddingRight;
  padding-top: $spacing-button_default-paddingTop;
  padding-bottom: $spacing-button_default-paddingTop;
  font-weight: $font-button-fontWeight;
  outline: none;
  vertical-align: middle;
  white-space: nowrap;

  &-primary {
    background-color: $color-button_primary-bg-default;
    color: $color-button_primary-text-default;

    &:not(.sx-button-borderless):not(.sx-button-light):hover {
      background-color: $color-button_primary-bg-hover;
    }

    &:not(.sx-button-borderless):not(.sx-button-light):active {
      background-color: $color-button_primary-bg-active;
    }

    &.sx-button-light,
    &.sx-button-borderless {
      color: $color-button_primary-bg-default;
    }
  }

  &-secondary {
    background-color: $color-button_secondary-bg-default;
    outline-color: $color-button_secondary-border-default;
    color: $color-button_secondary-text-default;

    &:hover {
      background-color: $color-button_secondary-bg-hover;
    }

    &:active {
      background-color: $color-button_secondary-bg-active;
    }

    &.sx-button-light,
    &.sx-button-borderless {
      color: $color-button_secondary-bg-default;
    }
  }

  &-tertiary {
    background-color: $color-button_tertiary-bg-default;
    color: $color-button_tertiary-text-default;

    &:hover {
      background-color: $color-button_tertiary-bg-hover;
    }

    &:active {
      background-color: $color-button_tertiary-bg-active;
    }

    &.sx-button-light,
    &.sx-button-borderless {
      color: $color-button_tertiary_solid-text-default;
    }
  }

  &-danger {
    background-color: $color-button_danger-bg-default;
    color: $color-button_danger-text-default;

    &:hover {
      background-color: $color-button_danger-bg-hover;
    }

    &:active {
      background-color: $color-button_danger-bg-active;
    }

    &.sx-button-light,
    &.sx-button-borderless {
      color: $color-button_danger-bg-default;
    }
  }

  &-warning {
    background-color: $color-button_warning-bg-default;
    color: $color-button_warning-text-default;

    &:hover {
      background-color: $color-button_warning-bg-hover;
    }

    &:active {
      background-color: $color-button_warning-bg-active;
    }

    &.sx-button-light,
    &.sx-button-borderless {
      color: $color-button_warning-bg-default;
    }
  }

  &-light {
    background-color: $color-button_light-bg-default;

    &:not(.sx-button-disabled):hover {
      background-color: $color-button_light-bg-hover;
    }

    &:not(.sx-button-disabled):active {
      background-color: $color-button_light-bg-active;
    }
  }

  &-borderless {
    background-color: transparent;

    &:not(.sx-button-disabled):hover {
      background-color: $color-button_borderless-bg-hover;
    }

    &:not(.sx-button-disabled):active {
      background-color: $color-button_borderless-bg-active;
    }
  }

  &-size-small {
    height: $height-button_small;
    padding-top: $spacing-button_small-paddingTop;
    padding-bottom: $spacing-button_small-paddingBottom;
    padding-left: $spacing-button_small-paddingLeft;
    padding-right: $spacing-button_small-paddingRight;
  }

  &-size-large {
    height: $height-button_large;
    padding-top: $spacing-button_large-paddingTop;
    padding-bottom: $spacing-button_large-paddingBottom;
    padding-left: $spacing-button_large-paddingLeft;
    padding-right: $spacing-button_large-paddingRight;
  }

  &-block {
    width: 100%;
  }

  &-disabled {
    color: $color-button_disabled_solid-text-default;
    background-color: $color-button_disabled-bg-default;
    &:not(.sx-button-borderless):not(.sx-button-light):hover {
        color: $color-button_disabled-text-hover;
        background-color: $color-button_disabled-bg-hover;
    }
    cursor: not-allowed;

    &.sx-button-light,
    &.sx-button-borderless {
        color: $color-button_disabled-text-default;
    }
}
}