@import '../_styles/styles.scss';

$btn-default-color: #f5f5f5;

$btn-border-radius: $border-radius-root !default;
$btn-font-weight: 500 !default;
$btn-letter-spacing: .0892857143em !default;
$btn-transition-duration: 0.28s !default;