@import '../_styles/styles.scss';

$btn-default-color:$bg-neutral;
$btn-default-focus-color:$bg-neutral-focus;
$btn-default-content-color:$bg-neutral-content;

$btn-primary-color:$bg-primary;
$btn-primary-focus-color:$bg-primary-focus;
$btn-primary-content-color:$bg-primary-content;

$btn-secondary-color:$bg-secondary;
$btn-secondary-focus-color:$bg-secondary-focus;
$btn-secondary-content-color:$bg-secondary-content;

$btn-accent-color:$bg-accent;
$btn-accent-focus-color:$bg-accent-focus;
$btn-accent-content-color:$bg-accent-content;

$btn-info-color:$bg-info;
$btn-success-color:$bg-success;
$btn-warning-color:$bg-warning;
$btn-error-color:$bg-error;

$button-border-radius: 4px;

$button-mini-padding: 0 9px;
$button-small-padding: 0 11px;
$button-normal-padding: 0 15px;
$button-large-padding: 0 22px;

$button-round-padding: 6px;

$button-mini-height: 20px;
$button-small-height: 28px;
$button-normal-height: 36px;
$button-large-height: 44px;

:root {
  --btn-default-color: $btn-default-color;
  --btn-default-focus-color: $btn-default-focus-color;
  --btn-default-content-color: $btn-default-content-color;

  --btn-primary-color: $btn-primary-color;
  --btn-primary-color: $btn-primary-focus-color;
  --btn-primary-color: $btn-primary-content-color;

  --btn-secondary-color: $btn-secondary-color;
  --btn-secondary-color: $btn-secondary-focus-color;
  --btn-secondary-color: $btn-secondary-content-color;

  --btn-accent-color: $btn-accent-color;
  --btn-accent-color: $btn-accent-focus-color;
  --btn-accent-color: $btn-accent-content-color;

  --btn-info-color: $btn-info-color;
  --btn-success-color: $btn-success-color;
  --btn-warning-color: $btn-warning-color;
  --btn-error-color: $btn-error-color;

  --button-border-radius: $button-border-radius;
  --button-mini-padding: $button-mini-padding;
  --button-small-padding: $button-small-padding;
  --button-normal-padding: $button-normal-padding;
  --button-large-padding: $button-large-padding;
  --button-round-padding: $button-round-padding;
  --button-mini-height: $button-mini-height;
  --button-small-height: $button-small-height;
  --button-normal-height: $button-normal-height;
  --button-large-height: $button-large-height;
}