//颜色
$bg-primary: #570df8;
$bg-primary-focus: #4506cb;
$bg-primary-content: #ffffff;

$bg-secondary: #f000b8;
$bg-secondary-focus: #bd0091;
$bg-secondary-content: #ffffff;

$bg-accent: #37cdbe;
$bg-accent-focus: #2aa79b;
$bg-accent-content: #ffffff;

$bg-neutral: #3d4451;
$bg-neutral-focus: #2a2e37;
$bg-neutral-content: #ffffff;

$bg-base-100: #ffffff;
$bg-base-200: #f9fafb;
$bg-base-300: #d1d5db;
$bg-base-content: #1f2937;

$bg-info: #2094f3;
$bg-success: #009485;
$bg-warning: #ff9900;
$bg-error: #ff5724;

//文字
$font-size-xs: 10px;
$font-size-sm: 12px;
$font-size-md: 14px;
$font-size-lg: 16px;