/* shadow */
@mixin shadow-elevated {
    box-shadow: var(--sx-shadow-elevated);
}

@mixin shadow-2 {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 0px 1px rgba(0, 0, 0, 0.16);
}

@mixin shadow-0 {
    box-shadow: none;
}

@mixin shadow-1 {
    box-shadow: none;
}

@mixin shadow-knob {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 0 1px rgba(0, 0, 0, 0.3);
}

// box-sizing
@mixin box-sizing() {
    box-sizing: border-box;
}

@mixin all-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin ver-center {
    display: flex;
    align-items: center;
}

@mixin hor-center {
    display: flex;
    justify-content: center;
}

@mixin text-overflow-hidden {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*font*/
@mixin font-size-regular {
    font-size: $font-size-regular;
    line-height: 20px;
    font-family: $font-family-regular;
}

@mixin font-size-header-6 {
    font-size: $font-size-header-6;
    line-height: 22px;
    font-family: $font-family-regular;
}

//spin 
@mixin size($num) {
    width: $num;
    height: $num;
}